//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 22 13:15:03 2020
//! **************************************************************************

SCHEMATIC START;
COMP "switch" LOCATE = SITE "P50" LEVEL 1;
COMP "sda" LOCATE = SITE "P51" LEVEL 1;
COMP "scl" LOCATE = SITE "P48" LEVEL 1;
COMP "rst" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

